# =========================
# DATABASE
# =========================
DB_PORT=5432
DB_USER=tenex
DB_PASS=tenex
DB_NAME=tenex
DB_SSL_MODE=disable


# =========================
# REDIS
# =========================
REDIS_PASSWORD=
REDIS_DB=0


# =========================
# S3 (MinIO)
# =========================
S3_KEY=tenex
S3_SECRET=tenex123
S3_BUCKET=tenex